#home{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    margin-top: 100px;
    
}
.lefthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.righthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.righthome img{
    width: 50%;
    height: 600px;
    filter: drop-shadow( 2px 2px 20px rgb(52, 67, 71));
}

.homedetails{
    font-size: 2vmax;
}


.line1{
    font-size: 0.8em;
}
.line2{
    font-size: 2.5em;
     background: linear-gradient(to right, rgb(5, 7, 7), rgb(149, 141, 141));
    background-clip: text;
    color: transparent;
}
.line3{
    font-size: 1em;
    color: black;
}

.homedetails button{
    padding: 10px 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 30px;
    border-radius: 1.5rem;
    transition: all 0.3s;
    cursor: pointer
}
.homedetails button:hover{
    transition: ease-out 0.3s;
    background-color: rgb(255, 255, 255);
    translate: 5px -1px;
    color: rgb(0, 0, 0);
}


@media (max-width: 750px) {
    #home{
        
        flex-direction: column-reverse;
    }
    .lefthome{
        width: 100%;
        height: 50vh;
        position: relative;
        top: 40px;
        font-size: 20px;
    }
     .righthome{
        width: 100%;
        height: 50vh;
        align-items: flex-end;
        
    }
    .righthome img{
        width: 80%;
        height: 65vh;
        top: 75px;
        position: relative;
      
    }
    .homedetails{
        text-align: center;
    }
    .line2{
        font-size: 1.5em;
    }
}