nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px ;
    position: fixed;
    top : 0;
    z-index: 20;
     background-color: rgb(17, 20, 23);
}
 nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 20px;
}
nav ul a{
    cursor: pointer;
}
nav ul a:hover{  color: rgb(107, 211 ,211);
    border-bottom: 2px solid white;}
.active{
    color: rgb(107, 211 ,211);
    border-bottom: 2px solid white;
}
 nav h1{

    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(to right, rgb(57, 177, 204), white);
    background-clip: text;
    color: transparent;

}
.hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    display: none;
    
}

.ham{
    width: 40px;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.5s;
}




.activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;
    

}
.activeham .ham:nth-child(2){
    opacity: 0;
    

}
.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    
    position: relative;
    top: -12px;
    

}

.mobilemenu{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    right: 0;
    transform: translateX(100%);
    flex-direction: column;
    transition: all o.5s ;
    background-color: rgba(17, 20, 23, 0.66);


}
.activemobile{
    transform: translateX(0%);
}





@media(max-width:750px){
    .desktopmenu{
        display: none;
    }
    .hamburger{
        display: flex;
    }
}